.shop {
    padding-bottom: 200px;
    padding-top: 200px;
    margin-bottom: -50px;
    background: #fefdf9;
    border-top: #f2f1ed solid 1px;
    border-bottom: #f2f1ed solid 1px;
    background-image: url(https://wallpapercave.com/wp/wp2366402.jpg);
}

.shop .shop_img figure {
    margin: 0;
}

.shop .shop_img figure img {
    width: 100%;
}

.padding_right0 {
    padding-right: 0;
}

.shop .max_width {
    text-align: left;
    background: #030404;
    height: 100%;
    padding-top: 86px;
    padding-left: 50px;
    padding-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
}

.shop .titlepage {
    max-width: 612px;
    width: 100%;
    float: left;
}

.shop .titlepage h2 {
    color: #fff;
    border-bottom: #fff solid 1px;
    padding-bottom: 10px;
    float: left;
    clear: both;
}

.shop .titlepage p {
    color: #fff;
    font-size: 17px;
    line-height: 30px;
    padding: 40px 0px 80px 0;
    width: 100%;
    display: inline-block;
}

.shop .titlepage .read_more {
    color: #fff !important
}

.comments {
    color: black;
    font-size: 17px;
    line-height: 35px;
    font-weight: 400;
    padding-top: 20px;
}

.comments {
    padding: 20px 20px;
    z-index: 10018;
    background: lightblue;
    margin-right: 40px;
    border-radius: 40px;
    text-align: center;
    margin-top: 3px;
}

.comment-form .comment {
    background-color: lightblue;
    padding: 20px 20px;
    z-index: 10018;
    background: #fff;
    margin-right: 40px;
    border-radius: 40px;

}

.comment {
    border-color: white;
    width: 720px;
}

.add-comment {
    background: #03cafc;
    padding: 9px 32px !important;
    display: inline;
    border-radius: 20px;
    color: #fff !important;
    margin: 0 10px;
}