.glasses {
    background: #fff;
    margin-top: 90px;
}

.glasses .titlepage {
    text-align: center;
    padding-bottom: 60px;
}

.glasses .titlepage p {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    padding-top: 10px;
}

.blu {
    color: #03cafc;
    text-transform: initial;
}

.glasses .glasses_box {
    text-align: center;
    border: #555556 solid 1px;
    border-radius: 2px;
    padding: 120px 0px 30px 0px;
    margin-bottom: 30px;
}

.glasses .glasses_box figure {
    margin: 0;
}

.glasses .glasses_box h3 {
    color: #100d0d;
    font-size: 22px;
    line-height: 20px;
    padding: 70px 0px 9px 0px;
}

.glasses .glasses_box p {
    color: #2a2a2c;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.glasses .read_more {
    border: #1a1a1a solid 2px;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    margin-top: 44px;
}

figure {
    height: 200px;
    width: 300px;
    margin: auto;
}