.clients {
    padding: 30px 0 70px 0;
    background-image: url(https://wallpaperaccess.com/full/672657.jpg);
}

.clients .titlepage {
    text-align: center;
    padding-bottom: 60px;
}

.clients .titlepage p {
    color: #2a2a2c;
    font-size: 17px;
    line-height: 29px;
    padding-top: 10px;
}

.clients_box h3 {
    color: #2a2a2c;
    font-size: 26px;
    line-height: 30px;
    padding-top: 23px;
    font-weight: 600;
}

.clients_box p {
    color: #2a2a2c;
    font-size: 17px;
    line-height: 30px;
}

.clients_Carousel .carousel-caption {
    position: inherit;
    padding: 0;
}

.clients_box {
    border: #606060 solid 1px;
    padding: 40px 32px 40px 0px;
    float: left;
    text-align: center;
    margin-left: 89px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: lightblue;
    opacity: 1;
}

.clients_box figure {
    /* margin: 0;
    float: left;
    margin-left: -102px;
    padding-right: 30px; */
    margin: 10px;
    margin-left: 30px;

}

#myCarousel .carousel-indicators {
    bottom: -70px;
}

#myCarousel .carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #111;
}

#myCarousel .carousel-indicators .active {
    background: #8c8a8a;
}

#myCarousel .carousel-control-prev,
#myCarousel .carousel-control-next {
    display: none;
}

.del {
    background: #03cafc;
    padding: 11px 35px !important;
    display: inline;
    border-radius: 20px;
    color: #fff !important;
    margin: 0 10px;
    font-size: larger;
}